In [4]:
#https://raw.githubusercontent.com/vikashishere/YT-MLops-Proj1/refs/heads/main/notebook/data.csv

In [5]:
print('simpal')

simpal

In [6]:
import pandas as pd 
import numpy as np

In [7]:
df = pd.read_csv(r'C:\Users\DELL\Desktop\Vehicle-Insurance-Data-Pipeline\notebook\data.csv')
df.sample(3)

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
55794,55795,Male,79,1,28.0,0,> 2 Years,Yes,37556.0,124.0,128,0
107569,107570,Female,22,1,30.0,1,< 1 Year,No,32380.0,152.0,236,0
372048,372049,Male,25,1,28.0,0,< 1 Year,Yes,2630.0,163.0,161,1

In [8]:
df.shape

(381109, 12)

In [9]:
df.describe()

,id,Age,Driving_License,Region_Code,Previously_Insured,Annual_Premium,Policy_Sales_Channel,Vintage,Response
count,381109.000000,381109.000000,381109.000000,381109.000000,381109.000000,381109.000000,381109.000000,381109.000000,381109.000000
mean,190555.000000,38.822584,0.997869,26.388807,0.458210,30564.389581,112.034295,154.347397,0.122563
std,110016.836208,15.511611,0.046110,13.229888,0.498251,17213.155057,54.203995,83.671304,0.327936
min,1.000000,20.000000,0.000000,0.000000,0.000000,2630.000000,1.000000,10.000000,0.000000
25%,95278.000000,25.000000,1.000000,15.000000,0.000000,24405.000000,29.000000,82.000000,0.000000
50%,190555.000000,36.000000,1.000000,28.000000,0.000000,31669.000000,133.000000,154.000000,0.000000
75%,285832.000000,49.000000,1.000000,35.000000,1.000000,39400.000000,152.000000,227.000000,0.000000
max,381109.000000,85.000000,1.000000,52.000000,1.000000,540165.000000,163.000000,299.000000,1.000000

In [10]:
df.isnull().sum()

id                      0
Gender                  0
Age                     0
Driving_License         0
Region_Code             0
Previously_Insured      0
Vehicle_Age             0
Vehicle_Damage          0
Annual_Premium          0
Policy_Sales_Channel    0
Vintage                 0
Response                0
dtype: int64

In [11]:
df.dtypes

id                        int64
Gender                   object
Age                       int64
Driving_License           int64
Region_Code             float64
Previously_Insured        int64
Vehicle_Age              object
Vehicle_Damage           object
Annual_Premium          float64
Policy_Sales_Channel    float64
Vintage                   int64
Response                  int64
dtype: object

In [12]:
# df should be converted into dict before we push it to mongodb

data = df.to_dict(orient='records')
# data

In [13]:
# data

In [14]:
DB_NAME = "Proj1"
COLLECTION_NAME = "Proj1-Data"
# mongodb+srv://alisadab404_db_user:<db_password>@cluster0.evuzwrw.mongodb.net/?appName=Cluster0
CONNECTION_URL = "mongodb+srv://alisadab404_db_user:j8gsufd18k5EmH8i@cluster0.evuzwrw.mongodb.net/?appName=Cluster0"

# above, either remove your credentials or delete the mongoDB resource bofore pushing it to github.

In [15]:
import pymongo
client = pymongo.MongoClient(CONNECTION_URL)
data_base = client[DB_NAME]
collection = data_base[COLLECTION_NAME]

In [16]:
# Uploading data to MongoDB
rec = collection.insert_many(data)

In [17]:
print(type(rec))

<class 'pymongo.results.InsertManyResult'>

In [18]:
# Load back data from mongodb

df = pd.DataFrame(list(collection.find()))
df.head(2)

,_id,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,696f5890a43ec857305818e8,1,Male,44,1,28.0,0,> 2 Years,Yes,40454.0,26.0,217,1
1,696f5890a43ec857305818e9,2,Male,76,1,3.0,0,1-2 Year,No,33536.0,26.0,183,0

In [19]:
## If you are getting timeout issue

# import certifi
# client = pymongo.MongoClient(CONNECTION_URL, tlsCAFile=certifi.where())
# # TO CREATE THE DATABASE
# data_base = client[DB_NAME]
# collection = data_base[COLLECTION_NAME]
# # TO INSERT DATA INTO THE COLLECTION
# rec = collection.insert_many(data)